{% extends 'base.html' %}

{% block content %}

    <head>
        <script src="{{ url_for('static', filename='filter.js') }}"></script>
    </head>


    <main>
        <!-- Sidebar, from https://getbootstrap.com/docs/5.0/examples/sidebars/# -->
        <div id="sidebar" class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
            <form id="filter">
                <a href="/" id="filter-submit"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="filter-icon" width="26" height="18" viewBox="0 0 26 18"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 4.9H0V3l26-.1zM26 14.9H0V13l26-.1z"></path>
                        <circle cx="8.1" cy="3.9" r="3.5"></circle>
                        <circle cx="17.5" cy="13.9" r="3.5"></circle>
                    </svg>
                    <span class="fs-4">Filters</span>
                </a>
                <hr class="thick-hr">
                <h5 class="fs-5">Transport</h5>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item active">
                        <a href="#" class="filter-setting nav-link text-white active" id="filter-all">
                            <img class="bi me-2" width="20" height="20"
                                 src="{{ url_for('static', filename="images/all.svg") }}">
                            All
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="filter-setting nav-link text-white" id="filter-bus">
                            <img class="bi me-2" width="20" height="20" src="https://anytrip.com.au/img/tfnsw/bus.svg">
                            Bus
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-setting nav-link text-white" id="filter-train">
                            <img class="bi me-2" width="20" height="20"
                                 src="https://anytrip.com.au/img/tfnsw/train.svg">
                            Trains & Metro
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-setting nav-link text-white" id="filter-ferry">
                            <img class="bi me-2" width="20" height="20"
                                 src="https://anytrip.com.au/img/tfnsw/ferry.svg">
                            Ferry
                        </a>
                    </li>
                    <li>
                        <a href="#" class="filter-setting nav-link text-white" id="filter-lightrail">
                            <img class="bi me-2" width="20" height="20"
                                 src="https://anytrip.com.au/img/tfnsw/lightrail.svg">
                            Light Rail
                        </a>
                    </li>
                </ul>
                <hr>
                <label>Region<br>
                    <select name="loc">
                        {% for loc in locations %}
                            <option>{{ loc }}</option>
                        {% endfor %}
                    </select>
                </label>
                <hr>

                <label>Aggregated
                    <input type="radio" name="agg" value="aggregated" checked>
                </label>
                <label>Separate
                    <input type="radio" name="agg" value="separate">
                </label>
                <!-- info from https://codepen.io/EasyBoarder/pen/LZzzjy -->
                <div class="col-md-12">
                    <div class="info">
                        <i class="icon-info-sign"></i>
                        <span class="extra-info">Sum selected modes into one trace</span>
                    </div>
                </div>

                <hr class="thick-hr">
{#                <h5 class="fs-5">Extra Weather</h5>#}
{#                {% for weatherAspect in definitions %}#}
{#                    <label style="display: block;">#}
{#                        <input name="{{ weatherAspect }}" type="checkbox">#}
{#                        {{ definitions[weatherAspect]['label'] }}#}
{#                    </label>#}
{#                {% endfor %}#}

            </form>
        </div>

        <div id="content" class="content d-flex flex-column flex-shrink-0 p-3 bg-light">

            <div class="graph bg-light" id="main-graph"></div>

            <div>
                <p class="d-inline">Note: Only tap ons are used as they are a more reliable and consistent measurement.
                    When filtering for <span class="code">All - NSW</span> the difference is negligible, see:</p>
                <a href="/tapping" class="btn btn-secondary d-inline-block">Tapping Habits</a>
            </div>

            <div class="graph bg-light" id="box-plots-graph">
            </div>


        </div>
    </main>

    <script type="text/javascript">
        let graphs = {{ graphJSON | safe }};
        Plotly.plot('main-graph', graphs, {});
    </script>
    <script type="text/javascript">
        let secondGraph = {{ secondGraph | safe }};
        Plotly.plot('box-plots-graph', secondGraph, {});
    </script>



{% endblock %}